services:
  mailserver:
    image: docker.io/mailserver/docker-mailserver:latest
    container_name: mailserver
    hostname: mail
    domainname: wintergreenacademia.kz
    env_file:
      - mailserver.env
    ports:
      - "25:25"
      - "465:465"
      - "587:587"
      - "143:143"
      - "993:993"
      - "110:110"
      - "995:995"
    volumes:
      - ./docker-data/dms/mail-data:/var/mail
      - ./docker-data/dms/mail-state:/var/mail-state
      - ./docker-data/dms/mail-logs:/var/log/mail
      - ./docker-data/dms/config:/tmp/docker-mailserver
      - /etc/letsencrypt:/etc/letsencrypt:ro
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_PTRACE
    networks:
      mail_shared:
        aliases:
          - mail.wintergreenacademia.kz

networks:
  mail_shared:
    external: true
